<header>
  <div class="logo-container">
    <img src="/assets/images/svg/logo.svg" alt="logo-smartfit" />
  </div>
  <div class="text-container">
    <div class="heading">
      <h1 class="header-main-text">REABERTURA SMART FIT</h1>
      <span class="header-separator"></span>
    </div>
    <p class="header-description">
      O Horário de funcionamento das nossas unidades está seguindo os decretos
      de cada município. Por isso, confira aqui se seua unidade está aberta e as
      medidas de segurança que estamos seguindo.
    </p>
  </div>
</header>
