<form class="form-group">
  <div class="form-icon">
    <img src="/assets/images/png/icon-hour.png" alt="" />
    Horário
  </div>
  <h3 class="form-main-question">Qual periodo você quer treinar?</h3>
  <div class="radio-wrapper">
    <input type="radio" name="manha" value="manha" />
    <label class="period-label" for="manha">Manhã</label>
    <span class="time-range">06:00 às 12:00</span>
  </div>
  <div class="radio-wrapper">
    <input type="radio" name="tarde" value="tarde" />
    <label class="period-label" for="tarde">Tarde</label>
    <span class="time-range">12:01 às 18:00</span>
  </div>
  <div class="radio-wrapper">
    <input type="radio" name="noite" value="noite" />
    <label class="period-label" for="noite">Noite</label>
    <span class="time-range">18:01 às 23:00</span>
  </div>
  <div class="checkbox-wrapper">
    <input type="checkbox" name="show-closed" id="" />
    <label class="checkbox-text" for="show-closed"
      >Exibir unidades fechadas</label
    >
    <span class="checkbox-result">Resultados encontrados: {{ results }}</span>
  </div>
  <div class="btn-wrapper">
    <button class="btn btn-primary">Encontrar unidade</button>
    <button class="btn btn-secondary">Limpar</button>
  </div>
</form>
